.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transition: 0.3s;
}

.modal.active{
  background: rgba(0, 0, 0, 0.9);
}

.modal-container {
  margin: auto;
  transform: translateY(-700px);
  /* opacity: 0; */
  transition: transform 0.3s ease-out;
}

.modal-container.active {
  transform: translateY(0);
  /* opacity: 1; */
}

.modal-logo {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.modal-logo-img {
  height: 24px;
}

.modal-logo-title {
  margin-left: 7px;
}

.modal-logo-title,
.modal-logo-title mark {
  font-size: 25px;
  font-weight: 800;
  line-height: 31.37px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3657cb;

  mark {
    background-color: transparent;
    color: white;
  }
}