.main-content-in_main_roles-cont-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.main-content-in_main_roles-cont-main-actor {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.main-content-in_main_roles-cont-main-actor-cont-img {
  width: 280px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.main-content-in_main_roles-cont-main-actor-cont-ru_name {
  font-size: 18px;
  font-weight: 700;
  line-height: 22.3px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  margin-top: 5px;
}

.main-content-in_main_roles-cont-main-actor-cont-en_name {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.66px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffffb2;
  margin-top: 5px;
}

.main-content-in_main_roles-cont-main-actor-cont-role {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f2f60f;
  margin-top: 5px;
}
