.sequels_and_prequels-header {
  font-size: 65px;
  font-weight: 900;
  line-height: 82.81px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}

.sequels_and_prequels-main{
  overflow: hidden;
}

.sequels_and_prequels-cards{
  display: flex;
  width: 100%;
  transition: 0.7s;
  
  & > :not(:first-child){
    margin-left: 54px;
  }
}

.sequels_and_prequels-pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}