.main-content-movie_info-main-table_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-content-movie_info-main-table_info-row {
  display: grid;
  grid-template-columns: 160px 1fr;
  padding-right: 30px;
  align-items: center;
}

.main-content-movie_info-main-table_info-row-cell1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.73px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 15px;
  color: white;
}

.main-content-movie_info-main-table_info-row-cell2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.42px;
  text-align: left;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 15px;
  color: #f2f60f;
}
